<div class="sidenav">
    <a><b>23 09 23 Direct-Digital</b></a>
    <a ><b>PART 1:GENERAL</b></a>
    <a>1.0 Section Includes</a>
    <a>1.1 Products Furnished</a>
    <a>1.2 Products Installed</a>
    <a>1.3 Products not Furnished</a>
    <a>1.4 Related Section</a>
    <a>1.5 Description</a>
    <a>1.6 Approved BMS Systems</a>
    <a>1.7 Quality Assurance</a>
    <a>1.8 codes and standards</a>
    <a>1.9 System Performance</a>
    <a>1.10 Submittals</a>
    <a>1.11 Warranty</a>
    <a>1.12 Ownership of Proprietary material</a>
    <a><b>PART 2: PRODUCTS</b></a>
    <a>2.0 Section Includes</a>
    <a>2.1 Materials</a>
    <a>2.2 Communication</a>
    <a>2.3 Operator Interface</a>
    <a>2.4 Controller Software</a>
    <a>2.5 Controller</a>
    <a>2.6 Input and Output Interface</a>
    <a>2.7 Power Supplies and line Filtering</a>
    <a>2.8 Communication</a>
    <a>2.9 Local Control Panels</a>
    <a>2.10 Wiring and Raceways</a>
    

    <div class="div2">
        <table class="table"  >
            
                <tr>
                    <th>Equipment Type </th>
                   <th>Equipment Name</th>
                  
                </tr>
            
            
                <tr *ngFor="let employees of equipments">
                   
                     <td>{{employees.equipmentType}}</td>
                    <td>{{employees.equipmentName}}</td>
                   
    
                </tr>
            
        </table>
    </div>

    
    
 </div>
 <!-- <div class="wrapper">

 </div> -->
 <div class="heading">
    <a href=""><b>prev</b></a>&nbsp;
    <a href ="http://localhost:4200/download"><b>next</b></a>
 </div>
 
 
 <div class="bit1">
    <p><b>Section 23 09 00</b><br></p>
    
 </div> 
 <div class="bit">
    
    <p><b>Instrumentation and Control for HVAC</b></p>
 </div> 

 <div class="bitt">
    <p><b>Prepared By :</b></p>
 </div>


