<head>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>


<div class="heading">
   <a href=""><b>prev</b></a>    
</div>

<div class="man">
   <p>Download your Project<br><br>
   <b>Select the files to download</b></p>
</div>

<!-- <div class="wrapper">
   <div class="container">
     <input type="checkbox" id="dessert-1" />
     <label for="dessert-1">
       <img src="https://www.ctrlspecbuilder.com/ctrlspecbuilder/images/odf.png" /><p>specification</p>
     </label> 
     
      <script>
       document.getElementById('sweetalert').addEventListener('click',function(){
           Swal.fire({
 position: 'top-end',
 icon: 'success',
 title: 'Downloaded successfully',
 showConfirmButton: false,
 timer: 1500
})
       })
     </script> 
    </div> 
   </div>  -->
   <div class="wrapper">
   <table class="pagenormal" cellpadding="8">
       <tbody>
          <tr>
             <td>
                <input id="word" name="specification" type="checkbox" value="true" checked="checked"/><input type="hidden" name="_specification" value="on"/>
             </td>
             <td><img src="https://www.ctrlspecbuilder.com/ctrlspecbuilder/images/odf.png" alt="ODF logo"/></td>
             <td><label for="word">Specification</label></td>
          </tr>
          
       </tbody>
    </table>

   </div>
   <div class="king">
     <button id="sweetalert">download Files</button> 
   </div>
   
  




   <div class="ending">
       <p><b>NOTE:</b>   Edits to the .odt,.dxf,or .vdx files cannot be uploaded to ctrlspecbuilder</p>
   </div>
   <div class="ending1">
<a><u>Frequently asked question</u></a>
   </div>
   <div class="ending2">
       <a><u>Feedback</u></a>
           </div>

