.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
    font-size: 12px;
  }
  #ctrlspecbuilder{margin-top: 100px;}
  mat-card {
    max-width: 400px;
    margin:auto;
    justify-content: flex-start;
    margin-top: 50px;
    text-align: center;
    margin-block-start: 0%;
  }
  
  mat-form-field {
    display: block;
  }
  
  
  
  .container{
  
    justify-content: center;
    text-align: center;
    padding: auto;
    margin-top: 50px;
    inset-block-start: auto;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
