<form [formGroup]="addForms" (ngSubmit)="(SaveData())">
    <div class="form-row">
  
        <div class="form-group col-5">
            <!-- <label>First Name</label> -->
            <input type="text" formControlName="questions" class="form-control"  />
  
        </div>
        <div class="form-group col-5">
            <!-- <label>Last Name</label> -->
            <input type="text" formControlName="status" class="form-control" />
  
        </div>
    </div>
  
  
  
    <div class="form-group">
        <button class="btn btn-primary" (click)="SaveData()">
  
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
  </form>
  
